/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Common Classes */
.is-hidden,
.d-none {
    display: none;
}

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 25px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.ml-5 {
    margin-left: 25px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-5 {
    margin-right: 25px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.p-5 {
    padding: 25px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 25px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.pb-5 {
    padding-bottom: 25px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 25px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 25px;
}

.text-center {
    text-align: center;
}

/* Data table  */
.nhrotm-data-table-wrap select[name="nhrotm-data-table_length"],
.nhrotm-data-table-wrap select[name="nhrotm-data-table-usermeta_length"] {
    width: 45px;
}

.scrollable-cell {
    max-height: 100px;
    overflow-y: auto;
    white-space: normal;
    word-break: break-word;
    padding-right: 5px;
}

/* Modal design  */
.nhrotm-add-option-modal,
.nhrotm-edit-option-modal,
.nhrotm-edit-usermeta-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.nhrotm-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Set a max width for larger screens */
    border-radius: 8px; /* Rounded corners */
}

.nhrotm-modal-content h2 {
    margin: 0 0 20px;
}

.nhrotm-modal-content p {
    margin: 10px 0;
}

.nhrotm-modal-content input[type="text"],
.nhrotm-modal-content textarea,
.nhrotm-modal-content select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.nhrotm-modal-content select {
    width: 200px;
}

.nhrotm-modal-content textarea {
    height: 100px;
    resize: vertical;
}

.nhrotm-modal-content .button {
    margin-top: 10px;
}

/* Analytics  */
.nhrotm-usage-analytics-results {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.nhrotm-usage-analytics-results table {
    width: 60%;
    border-collapse: collapse;
    margin: 10px auto;
}

.nhrotm-usage-analytics-results table, 
.nhrotm-usage-analytics-results th, 
.nhrotm-usage-analytics-results td {
    border: 1px solid #ddd;
    padding: 8px;
}

.nhrotm-usage-analytics-results th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.nhrotm-usage-analytics-results td {
    text-align: center;
    color: #555;
}

.nhrotm-usage-analytics-results tr:hover {
    background-color: #f1f1f1;
}

/* Tab  */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Usermeta Table  */
#nhrotm-data-table-usermeta_wrapper,
#nhrotm-data-table-better_payment_wrapper,
#nhrotm-data-table-wprm_ratings_wrapper,
#nhrotm-data-table-wprm_analytics_wrapper {
    display: none;
}

/* Toast Notification */
.nhrotm-toast {
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 10px 20px !important;
    border-radius: 4px !important;
    color: white;
    font-weight: 500;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2) !important;
    border: none !important;
    display: none;
}
  
.nhrotm-toast.success {
    background-color: #4CAF50;
}
  
.nhrotm-toast.error {
    background-color: #F44336;
}
  
.nhrotm-toast.warning {
    background-color: #FF9800;
}

#nhrotm-data-table tfoot input {
    padding: 8px 10px;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-weight: normal;
}

/* Filter  */

.nhrotm-filter-container {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.nhrotm-filter-row {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 15px; */
    gap: 10px;
}

.nhrotm-filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

#option-type-filter {
    min-width: 200px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#delete-expired-transients {
    background-color: #e74c3c;
    padding: 4px 8px;
    color: white;
    border: none;
}

.nhrotm-filter-group.nhrotm-bulk-action-group {
    position: absolute;
    left: 10px;
}

#nhrotm-bulk-action-selector {
    min-width: 160px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#nhrotm-do-bulk-action {
    width: 60px;
    padding: 4px 8px;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 4px;
}

tfoot td.manage-column.column-cb.check-column {
    padding: 8px 10px;
}