/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Common Classes */
.is-hidden {
    display: none;
}

.scrollable-cell {
    max-height: 100px;
    overflow-y: auto;
    white-space: normal;
    word-break: break-word;
    padding-right: 5px;
}

.nhrotm-add-option-modal,
.nhrotm-edit-option-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
}

.nhrotm-add-option-modal label,
.nhrotm-edit-option-modal label {
    display: block;
    margin: 10px 0;
}

.nhrotm-add-option-modal button,
.nhrotm-edit-option-modal button {
    margin-top: 10px;
}
